body {
	position: relative;
	min-height: 100vh;
}

header {
	background-color: #e7e7e7;
	padding: 10px 0;
	position: fixed;
	top: 0;
	width: 100vw;
	z-index: 10;
}

main {
	width: 100%;
    height: calc(100vh - 70px);
    overflow-y: scroll;
	position: absolute;
	scroll-behavior: smooth;
	top: 70px;
}

header .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.mobile__menu__list {
	display: none;
}

h1 {
	width: 150px;
    height: 50px;
	background-repeat: no-repeat;
	background-size: contain;
	margin: 0;
	background-position: center center;
	background-image: url(../img/logo.png);
}

h1 a {
	display: block;
	height: 100%;
	color: transparent;
	font-size: 12px;
}

.mobile__menu__link {
	color: #1b1b1b;
	display: flex;
	align-items: center;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 1.25rem;
}

.mobile__menu__link:before {
	content:'';
	width: .4em;
	height: .4em;
	background-color: #1b1b1b;
	display:block;
	border-radius: 50%;
	margin-right: .4em;
}

footer {
	background-color: #e7e7e7;
	padding: 10px 0;
	width: 100%;
	max-width: 100vw;
}

.footer__title {
	text-transform: uppercase;
	font-size:.75rem;
}

.footer__scroll {
	color: #202020;
	display: flex;
	align-items: center;
	text-transform: uppercase;
	font-weight: bold;
	margin-bottom: 0.1em;
	font-size: 1rem;
}

.footer__scroll:after {
	content: url(../img/arrow-up.png);
	margin-left: .5em;
	margin-bottom: .2em;
}

footer .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.celebrities,
.about-us {
	background-image: url(../img/bg_white.jpg);
	position: relative;
	padding: 3em 0;
}

.celebrities,
.our-work {
	padding: 3em 0;
	position: relative;
	overflow: hidden;
}

.our-work#nosso-trabalho {
	display: flex;
	flex-direction: column;
	padding: 3em 0 0;
}

.celebrities__title,
.our-work__title {
	text-transform: uppercase;
	display: flex;
    align-items: flex-end;
	font-size: 1.25rem;
}

.our-work__title {
	width: 9em;
	margin-left: calc(100% - 9em);
}

.celebrities__title:after,
.our-work__title:after {
	content:'';
	height: 16em;
	width: 16em;
	border: solid 2px #181818;
	border-radius: 50px;
	position: absolute;
	top: -120px;
    left: -50px;
    transform: rotate(65deg);
	z-index: 1;
}

.our-work__title:after {
	border-color: #ffffff;
    left: initial;
	right: -60px;
    top: -150px;
    transform: rotate(56deg);
}

.celebrities__title {
	width: 315px;
}

.celebrities__title strong, 
.our-work__title strong {
	font-weight: bold;
	position: relative;
	display: inline-block;
}

.celebrities__title strong:after,
.our-work__title strong:after {
	content:'';
	position: absolute;
	height: 2px;
	width: 100%;
	background-color: #181818;
	bottom: -5px;
	left: 0;
}

.our-work__title strong:after {
	background-color: #ffffff;
}

.celebrities__title span,
.our-work__title span {
	display:block;
}

.celebrities__icon:nth-child(8),
.celebrities__icon:nth-child(6) {
	display:none;
}

.celebrities__icon__wrapper,
.our-work__icon__wrapper {
	display: flex;
	flex-wrap: wrap;
	padding: 8em 0 0;
}

.celebrities__icon,
.our-work__icon {
	width: 50%;
}

.celebrities__icon:nth-child(2), 
.celebrities__icon:nth-child(4),
.celebrities__icon:nth-child(7) {
	transform: translate(0,-70px);
}

.our-work__icon:nth-child(odd) {
	transform: translate(0,-70px);
}

.clients,
.contact,
.our-work {
	padding: 3em 0;
	color: #ffffff;
}

.contact,
.black-bg {
	background-image: url(../img/bg_black.jpg);
	background-size: cover;
}

.clients {
	margin-top: -1px;
	padding: 0 0 1em;
}

.clients--nobile {
	width: 100%;
}

.about-us__wrapper {
	display: flex;
}

.about-us .container {
	padding-right: 0;
}

.about-us__title {
	text-transform: uppercase;
	font-size: 1.5rem;
	position: relative;
	margin-bottom: 2em;
}

.about-us__title:after {
	content:'';
	width:48vw;
	height: 2px;
	background-color: #181818;
	position: absolute;
	bottom: -1em;
	left: 0;
}

.about-us__left {
	width: 50%;
}

.about-us__right {
	margin-top: -48px;
	width: 50%;
	max-width: 300px;
}

.about-us__socials {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 9em;
	margin-top: 2em;
}

.contact__title {
	text-transform: uppercase;
	font-size: 1.5rem;
	position: relative;
	margin-bottom: 2em;
}

.contact__title:after {
	content:'';
	width:70vw;
	height: 2px;
	background-color: #ffffff;
	position: absolute;
	bottom: -1em;
	left: 0;
}

.contact__group {
	margin: 1em 0;
	position: relative;
}

.contact__label {
	display:block;
	text-transform: uppercase;
}

.contact__input,
.contact__select,
.contact__textarea {
	padding: .5em;
	width: 100%;
	background-color: #ffffff;
}

.--select {
	width: 50%;
}

.contact__group:after {
	content:'';
	position: absolute;
	bottom: .4em;
	left: .2em;
	height: 1px;
	width: 97%;
	background-color: #bebebe;
}

.contact__group.--submit:after {
	display: none;
}

.contact__submit {
	background: #ffffff;
	border-radius: 20px;
	padding: 1em;
	font-size: 1.25rem;
	width: 10em;
	margin: 0 auto;
	display: block;
	text-transform: uppercase;
	font-weight: bold;
}

.clients--mobile {
	width: 100vw;
}

.clients--desktop {
	display: none;
}

/* CARROUSEL */

.carrousel {
	display:flex;
	z-index: 5;
	position: relative;
	max-width: 100vw;
	overflow:hidden;
}

.trampo {
	animation: slide 20s ease infinite;
	height: 89vh;
	width: 100vw;
	flex-shrink: 0;
	background-position: center;
}

@keyframes slide {
	0% {transform: translateX(0vw);}
	32% {transform: translateX(0vw);}
	33% {transform: translateX(-100vw);}
	62% {transform: translateX(-100vw);}
	63% {transform: translateX(-200vw);}
	99% {transform: translateX(-200vw);}
}

/* OPEN MENU */

.--open .mobile__menu__list {
	background: #e7e7e7;
	position: absolute;
	top: 100px;
	right: 10px;
	z-index: 10;
	list-style: none;
	display: flex;
	flex-direction: column;
	padding: 1em;
	line-height: 3em;
	animation: fadeIn .3s ease-in-out forwards; 
}

.--open header:after {
	content:'';
	background:rgb(0 0 0 / 50%);
	width: 100vw;
	height: 100vh;
	position: fixed;
	left: 0;
	top: 70px;
	z-index: 5;
	animation: fadeIn .3s ease-in-out forwards; 
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.--open .mobile__menu {
	position: relative;
}

.mobile__menu__icon {
	position: relative;
	z-index: 15;
}

.--open .mobile__menu:after {
	content: '';
    height: 30px;
    width: 30px;
    background-color: #e7e7e7;
    position: absolute;
    bottom: -15px;
    left: 4px;
    transform: rotate(45deg);
    z-index: 10;
	animation: slideDown .3s ease-in-out forwards; 
	opacity: 0;
}

@keyframes slideDown {
	0% {
		opacity: 0;
		bottom: -15px;
	}
	100% {
		opacity: 1;
		bottom: -36px;
	}
}

@media (min-width: 750px) {
	.about-us .container {
		padding-right: 30px;
	}
}

@media (min-width: 768px) {
	.about-us__wrapper {
		display: flex;
		justify-content: space-between;
	}
	.about-us .container {

	}
}

@media (min-width: 1000px) {
	.about-us .container {
		padding-right: 40px;
	}
}

@media (min-width: 1024px) {
	body {
		overflow-x: hidden;
	}
	main {
		position: relative;
		overflow-y: initial;
	}
	.carrousel {
		max-width: 100vw;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(2, 1fr);
	}
	.trampo {
		animation: none;
		width: 100%;
		height: 100%;
		background-size: cover;
	}

	.trampo:first-child { 
		grid-area: 1 / 1 / 3 / 2; 
		height: 100vh;
	}

	.trampo:nth-child(2) { 
		grid-area: 1 / 2 / 2 / 3; 
	}

	.trampo:last-child { 
		grid-area: 2 / 2 / 3 / 3; 
	}

	.about-us {
		overflow: hidden;
	}

	.about-us__left,
	.about-us__title:after {
		max-width: 400px;
	}

	.about-us__right {
		height: 750px;
		max-width: 472px;
		position: relative;
	}

	.about-us__image:nth-child(1) {
		position: absolute;
		left: -60px;
		width: 250px;
	}

	.about-us__image:nth-child(2) {
		position: absolute;
		right: 50px;
		top: 190px;
		width: 240px;
	}

	.about-us__image:nth-child(3) {
		position: absolute;
		left: -10px;
		top: 330px;
		width: 240px;
	}

	.about-us__image:nth-child(4) {
		position: absolute;
		right: 0;
		top: 460px;
		width: 280px;
	}

	.about-us__right:after {
		content: '';
		display: block;
		height: 12em;
		width: 12em;
		border: solid 2px #181818;
		border-radius: 50px;
		position: absolute;
		bottom: -70px;
		left: -10px;
		transform: rotate(65deg);
		z-index: 1;
	}

	.contact {
		position: relative;
		overflow: hidden;
	}

	.about-us__socials {
		width: 11em;
	}

	.contact__title {
		font-size: 2rem;
	}

	.contect__wrapper {
		width: 50%;
	}

	.contact__title:after {
		width: 80%;
	}

	.contact:before {
		content: '';
		display: block;
		height: 25em;
		width: 25em;
		border: solid 2px #ffffff;
		border-radius: 50px;
		position: absolute;
		top: -20px;
		right: -10px;
		transform: rotate(65deg);
		z-index: 1;
	}

	.celebrities {
		height: 1280px;
	}

	.celebrities__title {
		font-size: 2rem;
		width: 375px;
	}

	.celebrities__title strong:after, .our-work__title strong:after {
		display: none;
	}

	.celebrities__title:after {
		top: -270px;
		left: -50px;
	}

	.celebrities__icon, .our-work__icon {
		width: 40%;
	}

	.celebrities__icon:nth-child(8),
	.celebrities__icon:nth-child(6) {
		display: initial;
	}

	.celebrities__icon:nth-child(8) {
		position: absolute;
		top: 190px;
		z-index: 5;
		left: 0;
	}

	.celebrities__icon:nth-child(2) {
		position: absolute;
		top: 20px;
		right: 20px;
	}

	.celebrities__icon:nth-child(3) {
		position: absolute;
		top: 684px;
		right: 14%;
	}

	.celebrities__icon:nth-child(6) {
		position: absolute;
		right: 0;
		width: 35%;
		top: 360px;
	}

	.celebrities__icon:nth-child(5) {
		position: absolute;
		top: 170px;
		width: 260px;
		left: 37%;
	}

	.celebrities__icon:nth-child(7) {
		position: absolute;
		top: 530px;
		left: 39%;
		width: 23%;
	}

	.celebrities__icon:nth-child(4) {
		position: absolute;
		top: 690px;
	}

	.celebrities__icon:nth-child(1) {
		position: absolute;
		top: 1000px;
		left: 23%;
		width: 340px;
	}

	.our-work {
		height: 990px;
	}

	.our-work__title {
		font-size: 2rem;
	}

	.our-work__title:after {
		top: -270px;
		right: -50px;
	}

	.our-work__icon:nth-child(1) {
		position: absolute;
		top: 250px;
		z-index: 5;
		right: 0;
	}

	.our-work__icon:nth-child(2) {
		position: absolute;
		top: 20px;
		left: 13%;
	}

	.our-work__icon:nth-child(3) {
		position: absolute;
		top: 654px;
		left: 42%;
	}

	.our-work__icon:nth-child(4) {
		position: absolute;
		left: 8%;
		width: 35%;
		top: 470px;
	}

	.our-work__icon:nth-child(5) {
		position: absolute;
		top: 430px;
		width: 260px;
		right: 37%;
	}

	.clients--mobile {
		display: none;
	}

	.clients--desktop {
		display: block;
		padding: 8em 0;
	}

	.clients--desktop__wrapper {
		display: flex;
	}

	.clients--desktop img {
		width: 50%;
	}

	.about-us__image:nth-child(1) {
		width: 380px;
	}

	.about-us__image:nth-child(2) {
		right: 1vw;
		top: 210px;
	}

	.about-us__image:nth-child(3) {
		left: 0;
	}

	.mobile__menu__icon {
		display: none;
	}

	.mobile__menu__list {
		display: flex;
		list-style-type: none;
		align-items: center;
	}

	.about-us__socials,
	.mobile__menu__item:first-child,
	.mobile__menu__link:before {
		display: none;
	}

	.mobile__menu__item:nth-child(2) a {
		margin-left: 0;
	}

	.mobile__menu__item:nth-child(6) a {
		margin-right: 0;
	}

	.mobile__menu__link {
		margin: 0 1em;
	}

	.about-us__title {
		font-size: 2rem;
	}

	.about-us__description,
	.contact__description,
	.contact__label {
		font-size: 1.2rem;
	}

	h1 {
		width: 180px;
		height: 60px;
	}

	.clients__title {
		font-size: 2rem;
		text-transform: uppercase;
		text-align: center;
		margin: 0 auto;
	}

	.about-us__wrapper {
		justify-content: space-around;
	}
}

@media (min-width: 1280px) {
	.about-us .container {
		padding-right: 0;
	}

	.contact:after {
		content: '';
		display: block;
		height: 25em;
		width: 25em;
		border: solid 2px #ffffff;
		border-radius: 50px;
		position: absolute;
		bottom: -250px;
		left: -230px;
		transform: rotate(65deg);
		z-index: 1;
	}

	.celebrities__title:after {
		height: 21em;
		width: 18em;
		top: -381px;
		left: -50px;
	}

	.celebrities__icon:nth-child(1) {
		top: 580px;
		right: 16vw;
		left: initial;
		width: 340px;
	}

	.celebrities__icon:nth-child(2) {
		top: 10px;
		right: 16vw;
		width: 30%;
	}

	.celebrities__icon:nth-child(3) {
		top: 510px;
		left: 23vw;
		width: 30%;
	}

	.celebrities__icon:nth-child(4) {
		top: 590px;
		left: -6vw;
		width: 28%;
	}

	.celebrities__icon:nth-child(5) {
		top: 130px;
	}

	.celebrities__icon:nth-child(6) {
		width: 30%;
		top: 240px;
	}

	.celebrities__icon:nth-child(7) {
		top: 410px;
		left: 47%;
		width: 22vw;
	}

	.celebrities__icon:nth-child(8) {
		left: 8vw;
    	width: 30%;
	}

	.celebrities {
		height: 850px;
	}

	.our-work__title:after {
		height: 21em;
		width: 18em;
		top: -311px;
		right: -50px;
		transform: rotate( -56deg);
	}

	.our-work__icon:nth-child(1) {
		top: 390px;
	right: 3vw;
		left: initial;
		width: 340px;
	}

	.our-work__icon:nth-child(2) {
		top: 10px;
		left: 21vw;
		width: 30%;
	}

	.our-work__icon:nth-child(3) {
		top: 550px;
		left: 27vw;
		width: 30%;
	}

	.our-work__icon:nth-child(4) {
		top: 290px;
		left: 2vw;
		width: 28%;
	}

	.our-work__icon:nth-child(5) {
		top: 320px;
		width: 260px;
		right: 29vw;
	}

	.our-work {
		height: 930px;
	}
}